@use "../abstracts";
html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(11%)
    saturate(4799%) hue-rotate(217deg) brightness(96%) contrast(95%);

  --body-bg-color: #f6f6f6;
  --header-bg-color: #eeeeee;
  --top-act__group-bg-color: #fff;
  --top-act__group-shadow-color: rgba(237, 237, 246, 0.2);
  --top-act__separate-bg-color: #ededf6;

  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
  }
}
